
# Generated IO constraints 

NET "a[7]" IOSTANDARD = LVCMOS33;
NET "a[6]" IOSTANDARD = LVCMOS33;
NET "a[5]" IOSTANDARD = LVCMOS33;
NET "a[4]" IOSTANDARD = LVCMOS33;
NET "a[3]" IOSTANDARD = LVCMOS33;
NET "a[2]" IOSTANDARD = LVCMOS33;
NET "a[1]" IOSTANDARD = LVCMOS33;
NET "a[0]" IOSTANDARD = LVCMOS33;
NET "b[7]" IOSTANDARD = LVCMOS33;
NET "b[6]" IOSTANDARD = LVCMOS33;
NET "b[5]" IOSTANDARD = LVCMOS33;
NET "b[4]" IOSTANDARD = LVCMOS33;
NET "b[3]" IOSTANDARD = LVCMOS33;
NET "b[2]" IOSTANDARD = LVCMOS33;
NET "b[1]" IOSTANDARD = LVCMOS33;
NET "b[0]" IOSTANDARD = LVCMOS33;
NET "cy_out" IOSTANDARD = LVCMOS33;
NET "sum[7]" IOSTANDARD = LVCMOS33;
NET "sum[6]" IOSTANDARD = LVCMOS33;
NET "sum[5]" IOSTANDARD = LVCMOS33;
NET "sum[4]" IOSTANDARD = LVCMOS33;
NET "sum[3]" IOSTANDARD = LVCMOS33;
NET "sum[2]" IOSTANDARD = LVCMOS33;
NET "sum[1]" IOSTANDARD = LVCMOS33;
NET "sum[0]" IOSTANDARD = LVCMOS33;
NET "cy_in" IOSTANDARD = LVCMOS33;


# Generated physical constraints 

NET "a[0]" LOC = P191;
NET "a[1]" LOC = P190;
NET "a[2]" LOC = P196;
NET "a[3]" LOC = P194;
NET "a[4]" LOC = P198;
NET "a[5]" LOC = P197;
NET "a[6]" LOC = P200;
NET "a[7]" LOC = P199;
NET "b[0]" LOC = P5;
NET "b[1]" LOC = P7;
NET "b[2]" LOC = P3;
NET "b[3]" LOC = P4;
NET "b[4]" LOC = P205;
NET "b[5]" LOC = P2;
NET "b[6]" LOC = P203;
NET "b[7]" LOC = P204;
NET "sum[0]" LOC = P139;
NET "sum[1]" LOC = P140;
NET "sum[2]" LOC = P137;
NET "sum[3]" LOC = P138;
NET "sum[4]" LOC = P133;
NET "sum[5]" LOC = P135;
NET "sum[6]" LOC = P131;
NET "sum[7]" LOC = P132;
NET "cy_out" LOC = P149;
NET "cy_in" LOC = P27;